config/*.conf
*.pyc
env/
__pycache__/
dreams/v-diffusion-pytorch/
dreams/stylegan2/
dreams/vqgan/CLIP/
dreams/vqgan/models/
dreams/vqgan/taming-transformers/
dreams/vqgan/taming/
dreams/stable-diffusion/CLIP/
dreams/stable-diffusion/models/
dreams/stable-diffusion/taming-transformers/
dreams/latent-diffusion/CLIP/
dreams/latent-diffusion/models/
dreams/latent-diffusion/taming-transformers/
dreams/stable-diffusion/
dreams/GFPGAN/
dreams/Real-ESRGAN/
dreams/disco-diffusion-1/
dreams/latent-diffusion/
dreams/prompt-parrot/model/
*~
*.pkl
.ipynb_checkpoints/
src/chat/discord/basic.py
src/chat/mastodon/masto experiments.ipynb
src/chat/mastodon/masto-stream.py
src/dreams/exif_fun.ipynb
src/dreams/receive-sqs.py
src/dreams/send-sqs.py
src/interaction/hf-transformers.py
.vscode/
config/*.yaml
Untitled*.ipynb
src/dreams/stable-diffusion/
src/dreams/stylegan2/
go-*
