config/*.conf
*.pyc
env/
__pycache__/
dreams/v-diffusion-pytorch/
dreams/stylegan2/
dreams/vqgan/CLIP/
dreams/vqgan/models/
dreams/vqgan/taming-transformers/
dreams/vqgan/taming/
*~
.ipynb_checkpoints/
notebooks/
