config/*.conf
*.pyc
env/
__pycache__/
dreams/v-diffusion-pytorch/
dreams/stylegan2/
dreams/vqgan/CLIP/
dreams/vqgan/models/
dreams/vqgan/taming-transformers/
dreams/vqgan/taming/
dreams/stable-diffusion/CLIP/
dreams/stable-diffusion/models/
dreams/stable-diffusion/taming-transformers/
dreams/latent-diffusion/CLIP/
dreams/latent-diffusion/models/
dreams/latent-diffusion/taming-transformers/
dreams/stable-diffusion/
dreams/GFPGAN/
dreams/Real-ESRGAN/
dreams/disco-diffusion-1/
dreams/latent-diffusion/
dreams/prompt-parrot/model/
*~
.ipynb_checkpoints/
notebooks/
