alt-profanity-check
beautifulsoup4
certifi
click
coreferee
discord.py
dotwiz
elasticsearch
fastapi
flair
humanize
Levenshtein
Mastodon.py
nlpcloud
nltk
openai
pyyaml
requests
shortuuid
slack_bolt
spacy
spacytextblob
wikipedia
